@import "tailwindcss";

/* Define your custom properties */
:root {
  --color-grey-50: #f9fafb;
  --color-grey-400: #9ca3af;
  --color-grey-600: #4b5563;
  --color-grey-800: #1f2937;
  --color-brand-600: ##4f46e5;

  --border-radius-sm: 0.25rem;
}
